body{

background:#eef2f7;

font-family:Segoe UI,sans-serif;

}

.login-left{

background:linear-gradient(
135deg,
#2563eb,
#1e40af
);

color:white;

display:flex;

justify-content:center;

align-items:center;

}

.left-content{

max-width:500px;

padding:50px;

}

.logo-icon{

font-size:70px;

margin-bottom:20px;

}

.left-content h1{

font-size:48px;

font-weight:bold;

}

.left-content h4{

margin-bottom:30px;

font-weight:300;

}

.left-content p{

font-size:18px;

line-height:35px;

opacity:.9;

}

.login-right{

display:flex;

justify-content:center;

align-items:center;

background:#f8fafc;

}

.login-card{

width:420px;

background:white;

padding:45px;

border-radius:20px;

box-shadow:0 20px 45px rgba(0,0,0,.1);

}

.login-logo{

width:80px;

height:80px;

background:#2563eb;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

margin:auto;

margin-bottom:20px;

font-size:40px;

color:white;

}

.form-control{

height:50px;

}

.input-group-text{

background:white;

}

.login-btn{

height:50px;

font-size:18px;

font-weight:bold;

border-radius:10px;

}

.login-btn:hover{

transform:translateY(-2px);

transition:.2s;

}

.alert{

border-radius:10px;

}

@media(max-width:991px){

.login-card{

width:95%;

margin:20px;

}

}
